nav{
    padding:10px;
    display:flex;
    flex-direction: row;
    align-items: center;
    background-color: beige;
}
nav li{
    list-style: none;
    display:inline;
    margin-left: 10px;
}
nav .logo{
    flex-grow:1;
}
.logo>img{
    width: 4em;
}
nav .menu{
    flex-grow: 3;
}

nav .social{
    flex-grow: 1;
}
.dark{
    display: none;
}