*{
    font-family: 'Oswald' ,'Courier New', Courier, monospace;
}
.nepali{
    font-family: 'Teko', 'Vesper Libre';
}
nav{
    padding:10px;
    display:flex;
    flex-direction: row;
    align-items: center;
    background-color: beige;
}
nav li{
    list-style: none;
    display:inline;
    margin-left: 10px;
}
nav .logo{
    flex-grow:1;
}
.logo>img{
    width: 4em;
}
nav .menu{
    flex-grow: 3;
}

nav .social{
    flex-grow: 1;
}
.dark{
    display: none;
}

main{
    display: flex;
    flex-direction: column;
    padding:20px;
}

img{
    width:80%;
    border-radius: 3em;
    margin-left: auto;
    margin-right: auto;
    /* margin:3em; */

}

.cards{
    display: flex;
    flex-flow: row wrap;
    /* flex-grow: ; */
    /* gap: 20px; */
    justify-content: space-around;
}

.center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.cards > .card{
    display: inline-block;
    /* width:30%; */
    flex-basis: 50%;
}

.title{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font: 600;
    font-family: "Sofia";
}